<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logo_favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-5.3.2/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
    <!-- Sweet alert Js -->
    <script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
</head>
<body id="Formulario">
    <div class="container">
        <form action="/actualizar_formulario" method="post">
            <div class="head">
                <img src="{{ url_for('static', filename='img/logo_favicon.png') }}">
                <h1>Ticket de Turno</h1>
            </div>

            <header>
                <div class="left">
                    <button onclick="window.location.href='/admin_logout'">Cerrar Sesión</button>
                    <button onclick="window.location.href='/admin'">Administrar Formularios</button>
                </div>
                <div class="right">
                    <input type="text" id="buscarNoTurno" placeholder="Buscar por no_turno">
                    <input type="text" id="buscarCurp" placeholder="Buscar por CURP">
                    <button id="buscarBtn" type="button">Buscar</button>
                </div>
                <div class="bottom-right" id="update-delete-buttons" style="display: none;">
                    <button type="button" class="btn_actualizar" onclick="actualizarFormulario()">Actualizar</button>
                    <button type="button" class="btn_eliminar" onclick="eliminarFormulario()">Eliminar</button>
                    <button type="button" class="btn_pdf" onclick="generarPDF()">Generar PDF</button>
                </div>
            </header>

            <div class="cont">
                <div class="row">
                    <label for="f_nc">Nombre completo de quien realizará el trámite:</label>
                    <input type="text" name="f_nc" id="f_nc" placeholder="Ingrese nombre completo">
                </div>

                <div class="row">
                    <label for="f_curp">CURP:</label>
                    <input class="mayusculas" type="text" name="f_curp" id="f_curp" placeholder="Ingrese CURP">
                </div>
            </div>

            <div class="cont">
                <div class="row">
                    <label for="f_nombre">Nombre:</label>
                    <input type="text" name="f_nombre" id="f_nombre" placeholder="Ingrese nombre">
                </div>

                <div class="row">
                    <label for="f_paterno">Paterno:</label>
                    <input type="text" name="f_paterno" id="f_paterno" placeholder="Ingrese apellido paterno">
                </div>

                <div class="row">
                    <label for="f_materno">Materno:</label>
                    <input type="text" name="f_materno" id="f_materno" placeholder="Ingrese apellido materno">
                </div>
            </div>

            <div class="cont">
                <div class="row">
                    <label for="f_telefono">Teléfono:</label>
                    <input type="tel" name="f_telefono" id="f_telefono" placeholder="Ingrese teléfono">
                </div>

                <div class="row">
                    <label for="f_celular">Celular:</label>
                    <input type="tel" name="f_celular" id="f_celular" placeholder="Ingrese celular">
                </div>

                <div class="row">
                    <label for="f_correo">Correo:</label>
                    <input type="text" name="f_correo" id="f_correo" placeholder="Ingrese correo">
                </div>
            </div>

            <<div class="row">
                <label for="f_nivel">Seleccione el nivel:</label>
                <select name="f_nivel" id="f_nivel">
                    {% if lista_niveles %}
                        {% for nivel in lista_niveles %}
                            <option value="{{ nivel[0] }}">{{ nivel[1] }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="0">No hay Datos</option>
                    {% endif %}
                </select>
            </div>
            
            <div class="row">
                <label for="f_municipio">Seleccione el municipio:</label>
                <select name="f_municipio" id="f_municipio">
                    {% if lista_municipios %}
                        {% for municipio in lista_municipios %}
                            <option value="{{ municipio[0] }}">{{ municipio[1] }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="0">No hay Datos</option>
                    {% endif %}
                </select>
            </div>
            
            <div class="row">
                <label for="f_asunto">Seleccione el asunto:</label>
                <select name="f_asunto" id="f_asunto">
                    {% if lista_asuntos %}
                        {% for asunto in lista_asuntos %}
                            <option value="{{ asunto[0] }}">{{ asunto[1] }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="0">No hay Datos</option>
                    {% endif %}
                </select>
            </div>            
            
            <div class="cont">
                <div class="row">
                    <label for="f_estado">Estado:</label>
                    <select name="f_estado" id="f_estado">
                        <option value="0">Pendiente</option>
                        <option value="1">Activo</option>
                        <option value="2">Registro</option>
                    </select>
                </div>
            </div>

            <div class="row3">
                <button id="btn_turno" class="btn_turno" onclick="crearFormulario()">Crear</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/actualizar_admin.js') }}"></script>
</body>
</html>
