<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo_favicon.png') }}">
        <h1>Administración de Formularios</h1>
    </header>
    <header>
        <button onclick="window.location.href='/admin_logout'">Cerrar Sesión</button>
        <button onclick="window.location.href='/dashboard'">Mostrar Dashboards</button>
    </header>

    <main>
        <button onclick="window.location.href='/index'">Registrar Nuevo Formulario</button>
        <input type="text" id="buscar" placeholder="Buscar por nombre completo o CURP">
        <button onclick="searchForm()">Buscar</button>
            
        <table>
            <thead>
                <tr>
                    <th>No_Turno</th>
                    <th>CURP</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Correo</th>
                    <th>Id_Nivel</th>
                    <th>Id_Municipio</th>
                    <th>Id_Asunto</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                        <td>{{ form.no_turno }}</td>
                        <td>{{ form.curp }}</td>
                        <td>{{ form.nombre }}</td>
                        <td>{{ form.paterno }}</td>
                        <td>{{ form.materno }}</td>
                        <td>{{ form.telefono }}</td>
                        <td>{{ form.celular }}</td>
                        <td>{{ form.correo }}</td>
                        <td>{{ form.id_nivel }}</td>
                        <td>{{ form.id_mun }}</td>
                        <td>{{ form.id_asunto }}</td>
                        <td>{{ form.estado }}</td>
                        <td>
                            <button onclick="updateForm('{{ form.no_turno }}', '{{ form.id_mun }}')">Actualizar</button>
                            <button onclick="deleteForm('{{ form.no_turno }}', '{{ form.id_mun }}')">Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>
