<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo_favicon.png') }}">
        <h1>Dashboard de Solicitudes</h1>
    </header>
    <header>
        <button onclick="window.location.href='/admin_logout'">Cerrar Sesión</button>
        <button onclick="window.location.href='/admin'">Administrar Formularios</button>
    </header>

    <main>
        <section>
            <h1>Gráfico Circular de Total de Solicitudes</h1>
            <button onclick="loadCircularChart()">Cargar Gráfico Circular</button>
            <div id="circular-chart-container">
                <img id="circular-chart" src="" alt="Gráfico Circular de Estado de Solicitudes">
            </div>
        </section>
        
        <section>
            <h1>Gráfico de Barras de Solicitudes por Municipio</h1>
            <label for="municipio">Filtrar por Municipio:</label>
            <input type="text" id="municipio" placeholder="Ingrese el municipio">
            <button onclick="loadBarChart()">Filtrar</button>
            <div id="bar-chart-container">
                <img id="bar-chart" src="" alt="Gráfico de Barras de Estado de Solicitudes por Municipio">
            </div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
    
</body>
</html>
