<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Turno</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logo_favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-5.3.2/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
    <!-- Sweet alert Js -->
    <script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
</head>
<body id="Formulario">
    <div class="container">
        <form action="{{ url_for('generar_ticket') }}" method="post" onsubmit="return valida_forma();">
            <div class="head">
                <img src="{{ url_for('static', filename='img/logo_favicon.png') }}">
                <h1>Ticket de Turno</h1>
            </div>

            <div class="action-buttons">
                <div class="left">
                    <button type="button" id="btn_login" class="btn_login" onclick="location.href='{{ url_for('login') }}'" style="width: auto;">Iniciar Sesión</button>
                </div>
                <div class="right">
                    <input type="text" id="buscarNoTurno" placeholder="Buscar por no_turno">
                    <input type="text" id="buscarCurp" placeholder="Buscar por CURP">
                    <button id="buscarBtn" type="button">Buscar</button>
                </div>
                <div class="bottom-right">
                    <div id="update-delete-buttons" style="display: none;">
                        <button type="button" id="btn_actualizar" class="btn_actualizar" onclick="actualizarFormulario()">Actualizar</button>
                        <button type="button" id="btn_pdf" class="btn_pdf" onclick="generarPDF()">Generar PDF</button>
                    </div>
                    <button onclick="window.location.href='/admin'" id="btn_regresar" style="display: none;">Regresar</button>
                </div>
            </div>

            <div class="cont">
                <div class="row">
                    <label for="f_nc">Nombre completo de quien realizará el trámite:</label>
                    <input type="text" name="f_nc" id="f_nc" placeholder="Ingrese nombre completo">
                </div>

                <div class="row">
                    <label for="f_curp">CURP:</label>
                    <input class="mayusculas" type="text" name="f_curp" id="f_curp" placeholder="Ingrese CURP">
                </div>
            </div>

            <div class="cont">
                <div class="row">
                    <label for="f_nombre">Nombre:</label>
                    <input type="text" name="f_nombre" id="f_nombre" placeholder="Ingrese nombre">
                </div>

                <div class="row">
                    <label for="f_paterno">Paterno:</label>
                    <input type="text" name="f_paterno" id="f_paterno" placeholder="Ingrese apellido paterno">
                </div>

                <div class="row">
                    <label for="f_materno">Materno:</label>
                    <input type="text" name="f_materno" id="f_materno" placeholder="Ingrese apellido materno">
                </div>
            </div>

            <div class="cont">
                <div class="row">
                    <label for="f_telefono">Teléfono:</label>
                    <input type="tel" name="f_telefono" id="f_telefono" placeholder="Ingrese teléfono">
                </div>

                <div class="row">
                    <label for="f_celular">Celular:</label>
                    <input type="tel" name="f_celular" id="f_celular" placeholder="Ingrese celular">
                </div>

                <div class="row">
                    <label for="f_correo">Correo:</label>
                    <input type="text" name="f_correo" id="f_correo" placeholder="Ingrese correo">
                </div>
            </div>

            <div class="cont">
                <div class="row">
                    <label for="f_nivel">¿Nivel al que desea ingresar o que ya cursa el alumno?</label>
                    <select name="f_nivel" id="f_nivel">
                        {% if lista_niveles|length != 0 %}
                            <option value="0">Seleccione:</option>
                            {% for nv in lista_niveles %}
                                <option value="{{ nv[0] }}">{{ nv[1] }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="0">No hay Datos</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            
            <div class="cont">
                <div class="row">
                    <label for="f_mun">Municipio donde desea estudie el alumno:</label>
                    <select name="f_mun" id="f_mun">
                        {% if lista_municipios|length != 0 %}
                            <option value="0">Seleccione:</option>
                            {% for mun in lista_municipios %}
                                <option value="{{ mun[0] }}">{{ mun[1] }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="0">No hay Datos</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            
            <div class="cont">
                <div class="row">
                    <label for="f_asunto">Seleccione el asunto que va a tratar:</label>
                    <select name="f_asunto" id="f_asunto">
                        {% if lista_asuntos|length != 0 %}
                            <option value="0">Seleccione:</option>
                            {% for asu in lista_asuntos %}
                                <option value="{{ asu[0] }}">{{ asu[1] }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="0">No hay Datos</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="row3">
                <button id="btn_turno" class="btn_turno" type="submit">Generar Turno</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='bootstrap-5.3.2/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/actualizar_cliente.js') }}" defer></script>
</body>
</html>