<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
</head>
<body id="LoginForm">
    <div class="container" style="margin-top:70px;">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Iniciar Sesión</h2>
                    <p>Por favor escriba su usuario y contraseña</p>
                </div>
                <form id="login" method="post" action="{{ url_for('login') }}">
                    <div class="row">
                        <label for="f_user">Usuario:</label>
                        <input type="text" class="form-control" id="f_user" name="f_user" placeholder="Usuario">
                    </div>
                    <div class="row">
                        <label for="f_pass">Contraseña:</label>
                        <input type="password" class="form-control" id="f_pwd" name="f_pwd" placeholder="Contraseña">
                    </div>
                    <div class="h-captcha" data-sitekey="f3d8cffe-eb54-48f6-a24a-7a7440bca0c0"></div>
                    <div class="row2">
                        <button id="btn" class="btn_login" type="submit">Iniciar Sesión</button>
                    </div>
                    <div class="row2">
                        <button id="btn" class="btn_regresar" type="button" onclick="location.href='{{ url_for('index') }}'">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap-5.3.2/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
